{% extends "base.html" %}

{% block title %}Witaj w ZakupoGeneratorze!{% endblock %}

{% block content %}
<h1 class="text-center mb-5">ZakupoGenerator</h1>
<form action="{{ url_for('results') }}" method="POST" class="my-3">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-6 bg-secondary-subtle rounded">

            <div class="m-2">
                <label for="inputField" class="form-label">Wprowadź łącza do wybranych przepisów</label>
                
                <textarea class="form-control" name="input_field" id="inputField" required placeholder="..."
                style="min-height: 240px;"></textarea>
            </div>
            <div class="my-3 text-center d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary" id="submitButton">Utwórz listę zakupów 🛒</button>
                <div class="spinner-border" role="status" hidden id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}
